CSV_PATH=../data/metacritic_games_test_data.csv
JWT_PRIVATE_KEY=your_jwt_private_key_here
JWT_PUBLIC_KEY=your_jwt_public_key_here
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
PORT=3001
